/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Global Styles */
body {
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #828282;
    line-height: 1;
}

main {
    margin: 10px 10px;
}

/* Mobile Design */
header {
    background-color: #11224D;
    padding: 20px;
}

.header {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #11224D;
    color: #FB9850;
    position: relative;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    order: 1; 
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #F98125;
    margin: 5px 0;
    transition: 0.5s opacity var(--animation-curve), 0.5s transform var(--animation-curve);
}

.logo img {
    width: 100px;
    height: auto;
    order: -1; 
}

.nav {
    display: none; 
}

.nav.open {
    display: flex; 
    flex-direction: column;
    background-color: #11224D;
    position: absolute;
    top: 70px; 
    right: 0; 
    width: 100%;
    z-index: 1;
}

.nav.open li {
    margin-right: 0;
    margin-bottom: 10px;
}

.menu-toggle.open + .nav {
    display: flex; 
}

.nav a {
    text-decoration: none;
    color: #F98125;
    font-weight: bold;
}

.contact {
    display: none;
}

#toggle-label {
    transition: opacity 0.5s var(--animation-curve);
}

.menu-toggle.open #toggle-label {
    opacity: 0; /* Hide the label when the menu is open */
}

.menu-toggle.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(-3px, -1px);
}

.menu-toggle.open .bar:nth-child(2) {
    transform: rotate(-45deg) translate(-3px, -1px);
}

.menu-toggle.open .bar:nth-child(3) {
    opacity: 0;
}

.hero-container,
.about-me,
#purpose-row,
.featured-projects,
.project-archive,
.contactMe {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

#bio-image {
    max-height: 300px;
    border-radius: 50%;
    border: 5px solid #F98125;
    margin: 0 auto;
    display: block;
}

.hero-container h1,
.hero-container h2,
.hero-container p,
.about-me h2,
.about-me p,
#purpose-row,
.featured-projects,
.project-archive,
.contactMe {
    text-align: center;
}

.hero-container h1 {
    font-size: 100px;
    padding-top: 20px;
    margin-top: 50px;
}

.hero-container h2 {
    font-size: 35px;
    padding-top: 50px;
}
.hero-container p {
    font-size: 25px;
    padding-top: 50px;
    margin-bottom: 50px;
}

.about-me h2 {
    font-size: 35px;
}

.about-me h3 {
    font-size: 25px;
}

.about-me h4 {
    font-size: 20px;
}

.about-me p {
    padding-top: 20px;
    font-size: 15px;
}

.about-me h2,
#purpose-row,
.featured-projects,
.project-archive,
.contactMe {
    padding-top: 20px;
}

#purpose-row .columns img {
    width: 100px;
    height: 100px;
}

.what-i-do {
    text-align: center; /* Center the heading */
    margin-bottom: 20px; /* Add margin to separate the heading from the grid */
}

.purpose-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
}

.columns {
    padding: 20px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0; 
    list-style: none;
    text-align: center; 
}

.skills h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.skills li {
    flex-basis: calc(50% - 10px); 
    margin-bottom: 20px; 
    text-align: center;
}

.skills img {
    max-width: 100px; 
}

.skills span {
    display: block;
    margin-top: 10px; 
}

.skills li:last-child {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.skills li:last-child img {
    max-width: 100px; /* Adjust the max-width of the Bootstrap icon */
}

.skills li:last-child span {
    display: block;
    margin-top: 10px; /* Adjust spacing between icon and label */
}

#swiper-wrapper img {
    max-width: 100px;
    height: 100px;
}
.featured-projects {
    display: flex;
    flex-direction: column;
}

.project-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
}

.project-card img {
    max-width: 100%;
    height: auto;
}

.project-card h3,
.project-card h4 {
    margin-top: 10px;
}

.project-description {
    margin-top: 15px;
}

.project-tech-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.project-tech-list li {
    margin-bottom: 5px;
}

.project-links {
    margin-top: 15px;
}

.contactMe {
    background-color: #11224D;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    max-width: 600px;
    margin: 0 auto;
}

.contactMe form {
    width: 100%; 
    max-width: 400px; 
}

.contactMe h2 {
    font-size: 20px;
    padding-bottom: 10px;
    color: #F98125;
}

.form-group {
    padding: 10px;
}

.comment-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; 
}

label {
    order: -1; 
    padding-bottom: 5px;
}

textarea {
    margin-top: 10px;
    width: 100%;
}

input,
textarea,
button {
    width: 100%;
    box-sizing: border-box;
}

.contact-methods {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-methods .form-group {
    margin-right: 20px; /* Adjust the spacing between radio buttons and labels */
}

.contact-methods input[type="radio"] {
    margin-right: 5px; /* Adjust the spacing between radio buttons and labels */
}

/* Desktop and Tablet Design */
@media screen and (min-width: 1045px) {
    .menu-toggle {
        display: none;
    }

    .header {
        display: grid;
        grid-template-columns: auto 1fr auto; 
        align-items: center;
        padding: 10px;
    }
    
    #logo img {
        width: 100px;
        height: auto;
    }

    .nav {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }

    .nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 15px 0;
    }
    
    .nav li {
        margin-right: 10px;
    }
    
    .nav a {
        text-decoration: none;
        color: #F98125;
        font-weight: bold;
        font-size: 18px; 
        padding: 25px;
    }

    .contact {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: end;
        align-items: center;
    }

    .contact ul {
        list-style: none;
        margin-right: 10px;
    }

    #resume {
        margin-left: auto;
    }

    #resume a[href="Travis_Wiley_2023.pdf"] {
        background-color:  #193A6F ;
        color:  #F98125;
        padding: 10px 20px;
        border: 3px solid #2C599D;
        border-radius: 10px;
        cursor: pointer;
        text-decoration: none;
        font-weight: bold;
    }

    .contactMe {
        max-width: 600px;
        margin: 0 auto;
    }
}

