/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Global Styles */
body {
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #828282;
    line-height: 1;
}

main {
    margin: 10px 10px;
}

/* Mobile Design */
header {
    background-color: #11224D;
    padding: 20px;
}

.header {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #11224D;
    color: #FB9850;
    position: relative;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    order: 1; 
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #F98125;
    margin: 5px 0;
    transition: 0.5s opacity var(--animation-curve), 0.5s transform var(--animation-curve);
}

.logo img {
    width: 100px;
    height: auto;
    order: -1; 
}

.nav {
    display: none;
}

.nav.open {
    display: block;
    background-color: #11224D;
    position: absolute;
    top: 100px;
    right: 0;
    width: 150px;
}

.nav li {
    margin-bottom: 10px;
}

.nav a {
    text-decoration: none;
    color: #F98125;
    font-weight: bold;
    padding: 15px;
    display: block;
}

.contact {
    display: none;
}

#toggle-label {
    transition: opacity 0.5s var(--animation-curve);
}

.menu-toggle.open #toggle-label {
    opacity: 0; /* Hide the label when the menu is open */
}

.menu-toggle.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(-3px, -1px);
}

.menu-toggle.open .bar:nth-child(2) {
    transform: rotate(-45deg) translate(-3px, -1px);
}

.menu-toggle.open .bar:nth-child(3) {
    opacity: 0;
}

#resume {
    position: absolute;
    margin: 0 auto;
    padding-top: 40px;
}

#resume a[href="Travis_Wiley_2023.pdf"] {
    background-color: #193A6F;
    color: #F98125;
    padding: 10px 20px;
    border: 3px solid #2C599D;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

#bio-image {
    max-height: 300px;
    border-radius: 50%;
    border: 5px solid #F98125;
    margin: 0 auto;
    display: block;
    margin-top: 120px;
}

.hero-container h1,
.hero-container h2,
.hero-container p,
.about-me h2,
.about-me p,
#purpose-row,
.featured-projects,
.contactMe {
    text-align: center;
}

.hero-container h1 {
    font-size: 100px;
    padding-top: 60px;
    margin-top: 50px;
}

.hero-container h2 {
    padding-top: 30px;
    font-size: 50px;
}

.about-me h2,
.featured-projects h2 {
    font-size: 50px;
    padding-top: 50px;
}

.featured-projects h2 {
    padding-bottom: 30px;
}

.hero-container h3 {
    font-size: 50px;
    padding-top: 50px;
}

.about-me h3 {
    font-size: 35px;
    padding-top: 50px;
}

.about-me h4 {
    font-size: 25px;
    padding-top: 50px;
}

.hero-container p {
    font-size: 25px;
    padding-top: 30px;
}

.about-me p {
    font-size: 15px;
    padding-top: 30px;
}


#purpose-row .columns img {
    width: 100px;
    height: 100px;
}

.what-i-do {
    text-align: center; 
    margin-top: 50px;
    margin-bottom: 20px; 
}

.purpose-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
}

.columns {
    padding: 20px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
    list-style: none;
    text-align: center; 
}

.skills-section h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.skills li {
    flex-basis: calc(50% - 10px); 
    margin-bottom: 20px; 
    text-align: center;
}

.skills img {
    max-width: 100px;
    width: 100px; 
}

.skills span {
    display: block;
    margin-top: 10px; 
}

.skills li:last-child {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.skills li:last-child img {
    max-width: 100px;
    max-height: 100px;
}

.featured-projects {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

.project-card {
    margin: 0 auto;
    max-width: 300px;
    height: 400px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
}

.project-card img {
    max-width: 100%;
    max-height: 200px;
    height: auto;
}

.featured-projects p {
    font-size: 15px;
    padding-top: 30px;
}

.project-description {
    
}

.project-tech-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.project-tech-list li {
    margin-bottom: 5px;
}

.project-links {
    margin-top: 15px;
}

#project-card-1,
    #project-card-3,
    #project-card-5 {
    background-color: #193A6F;
    color: #fff;
}

#project-card-2,
#project-card-4,
#project-card-6 {
    background-color: #F98125;
    color: #fff;
}

.contactMe {
    background-color: #11224D;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    max-width: 600px;
    margin: 0 auto;
}

.contactMe form {
    width: 100%; 
    max-width: 400px; 
}

.contactMe h2 {
    font-size: 20px;
    padding-bottom: 10px;
    color: #F98125;
}

.form-group {
    padding: 10px;
}

.comment-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; 
}

label {
    order: -1; 
    padding-bottom: 5px;
}

textarea {
    margin-top: 10px;
    width: 100%;
}

input,
textarea,
button {
    width: 100%;
    box-sizing: border-box;
}

.contact-methods {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-methods .form-group {
    margin-right: 20px; /* Adjust the spacing between radio buttons and labels */
}

.contact-methods input[type="radio"] {
    margin-right: 5px; /* Adjust the spacing between radio buttons and labels */
}

.submission-message {
    display: none;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    z-index: 1000;
}


#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #F98125;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: none;
    cursor: pointer;
    text-decoration: none;
}

#back-to-top a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#back-to-top:hover {
    background-color: #F98125;
    opacity: 0.8;
}


footer {
    background-color: #11224D;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    padding-top: 20px;
    margin-bottom: 10px;
}

footer a {
    padding-top: 20px;
    color: #F98125;
    text-decoration: none;
}

/* Desktop and Tablet Design */
@media screen and (min-width: 1045px) {
    .menu-toggle {
        display: none;
    }

    .header {
        display: grid;
        grid-template-columns: auto 1fr auto; 
        align-items: center;
        padding: 10px;
    }
    
    #logo img {
        width: 100px;
        height: auto;
        z-index: 2;
    }

    .nav {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }

    .nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .nav li {
        margin-right: 10px;
    }

    .nav a {
        text-decoration: none;
        color: #F98125;
        font-weight: bold;
        font-size: 18px;
        padding: 25px;
    }
    
    .resume {
        position: absolute;
        margin: 0 auto;
        padding-top: 40px;
        right: 20px; /* Adjust the right spacing */
    }
    
    #resume a[href="Travis_Wiley_2023.pdf"] {
        background-color: #193A6F;
        color: #F98125;
        padding: 10px 20px;
        border: 3px solid #2C599D;
        border-radius: 10px;
        cursor: pointer;
        text-decoration: none;
        font-weight: bold;
    }

    .contact {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: end;
        align-items: center;
    }

    .contact ul {
        list-style: none;
        margin-right: 10px;
    }

    #resume {
        right: 0;
        padding-right: 20px;
        padding-top: 0;
    }

    #resume a[href="Travis_Wiley_2023.pdf"] {
        background-color: #193A6F;
        color: #F98125;
        border: 3px solid #2C599D;
        border-radius: 10px;
        cursor: pointer;
        text-decoration: none;
        font-weight: bold;
    }

    .purpose-row {
        padding-bottom: 50px;
    }

    .purpose-columns {
        max-width: 1100px;
        margin: 0 auto;
        display: flex; /* Change display to flex */
        justify-content: space-evenly; /* Add this line to evenly space columns horizontally */
    }

    .skills {
        max-width: 1100px;
        margin: 0 auto;
        display: flex; /* Add this line */
        justify-content: space-evenly; /* Add this line to evenly space skills horizontally */
        padding: 0;
        list-style: none;
        text-align: center;
    }

    .skills-section {
        padding-bottom: 50px;
    }
    
    .skills-section h3 {
        width: 100%;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    
    .skills li {
        flex: auto; 
        margin-bottom: 20px;
        text-align: center;
    }

    .project-container {
        max-width: 1280px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-content: space-evenly;
        align-items: flex-start;
        padding-top: 40px;
        padding-bottom: 100px;
    }

    .project-card {
        max-height: 500px;
        max-width: 500px;
        border: 2px solid #ddd;
        border-radius: 8px;
        transition: all 0.3s;
    }

    .project-card img {
        max-width: 100%;
        max-height: 400px;
        height: auto;
    }

    .project-card a {
        color: black;
    }

    .project-card:hover {
        transform: scale(1.1);
    }

    #project-card-1,
    #project-card-2,
    #project-card-3,
    #project-card-4,
    #project-card-5,
    #project-card-6 {
        flex: 1;
    }

    

    .contactMe {
        max-width: 600px;
        margin: 0 auto;
    }
}

